# Python import cache
__pycache__/

# Jupyter notebook
.ipynb_checkpoints

# Potentially large spectrometry files
data/*.mzML
!data/Q1_5_truncated.mzML
data/*.idXML
!data
notebooks/*.mzML
# HDF5 files
notebooks/*.h5
notebooks/*.hdf5
